/*                 */
/* General Styles */
/*               */

body {
    margin: 0px;
    background-color: #450000;
}

h1, h2, h3, h4, h5, h6 {
    color: goldenrod;
}

/*                 */
/* Header Styles  */
/*               */

.heading-wrapper {
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border-bottom: 2vh solid goldenrod;
}

.logo-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 20px;
}



.links-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.nav-link a {
    text-decoration: none;
    color: goldenrod;
    font-size: 1.5rem;
    transition: 0.75s;
}

.nav-link a:hover {
    color: maroon;
    letter-spacing: 2px;
    text-decoration: underline;
}

.header-name {
    font-size: 1.5vw;
}

.header-taunt {
    font-size: 1.5vw;
}

/*                 */
/* Footer Styles  */
/*               */

.footer-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    border-top: 2vh solid goldenrod;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

/*              */
/* Temp styles */
/*            */

.footer-center-logo {
    color: maroon;
}