.welcome-message {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 160px;
    padding-bottom: 170px;
}

.welcome {
    font-size: 4em;
    margin-bottom: -5px;
}

.welcome-text {
    color: whitesmoke;
}

.created-by-divider {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    padding-bottom: 40px;
}

.created-by {
    padding-bottom: 20px;
}

.created-by-spam {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-weight: 900;
}

.descriptions-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.link-description {
    margin-left: 100px;
    margin-right: 100px;
}

.link-description-title a {
    text-decoration: none;
    color: goldenrod;
    font-size: 3rem;
    transition: 0.75s;
}

.link-description-title a:hover {
    color: whitesmoke;
    letter-spacing: 2px;
    text-decoration: underline;
}

.link-description-title {
    margin-top: 50px;
    margin-bottom: 50px;
}

.link-description-body {
    font-size: 1.5rem;
    color: whitesmoke;
}

.cursed-description {
    margin-top: 80;
}