.welcome-message {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 160px;
    padding-bottom: 170px;
}

.welcome {
    font-size: 4em;
    margin-bottom: -5px;
}

.welcome-text {
    color: whitesmoke;
}

.created-by-divider {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    padding-bottom: 40px;
}

.created-by {
    padding-bottom: 20px;
}

.created-by-spam {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-weight: 900;
}